<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>information</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<table class="table table-striped">

  <tr>
    <td><h1>Học viên</h1></td>
    <td></td>
    <td><a href="/"><button>Danh sách học viên</button></a></td>
  </tr>
  <tr>
    <td>tên</td>
    <td>{name}</td>
    <td></td>
  </tr>

  <tr>
    <td>lớp</td>
    <td>{class}</td>
    <td></td>
  </tr>

  <tr>
    <td>điểm lý thuết</td>
    <td>{dlt}</td>
    <td></td>
  </tr>

  <tr>
    <td>điểm thực hành</td>
    <td>{dth}</td>
    <td></td>
  </tr>
  <tr>
    <td>đánh giá</td>
    <td>{dg}</td>
    <td></td>
  </tr>
  <tr>
    <td>mô tả</td>
    <td>{md}</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><button>chỉnh sửa</button><button>thoát</button></td>
  </tr>
</table>
</body>
</html>